<?php 
// HTTP
define('HTTP_SERVER', 'http://site_url/');
define('EMAIL_DEFAULT', 'default@gmail.com');

// DB
define('DB_DRIVER', 'mysqli');
define('DB_HOSTNAME', 'localhost');
define('DB_USERNAME', 'root');
define('DB_PASSWORD', 'pass');
define('DB_DATABASE', 'db_name');

// DIR
define('DIR_IMAGES', HTTP_SERVER . 'public/images/');
define('DIR_SCRIPTS',  HTTP_SERVER . 'public/scripts/');
define('DIR_CSS',  HTTP_SERVER . 'public/css/');



